html, body {
  margin: 0;
}
.car {
  border: 1px solid #888888;
  padding: 1.5em;
  margin: 1em;
  box-shadow: 2px 3px rgba(0,0,0,0.3);
}
.car .color {
  width: 100px;
  height: 100px;
  background: yellow;
}

.appbar {
  background: teal;
  padding: 1em;
}
.container-fluid {
  margin: 1em;
}
.menu {
  height: 30px;
  margin-top: 10px;
  margin-left: 12px;
}
.menu rect {
  fill: white;
}

#carlist {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 1000px)  {
  #carlist {
    grid-template-columns: 1fr 1fr;  
  }
  
}

@media (min-width: 1300px)  {
  #carlist {
    grid-template-columns: 1fr 1fr 1fr;  
  }
  
}